<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="ArbeidsverhoudingBeheer" connectionString="Data Source=.\sqlexpress;Initial Catalog=ArbeidsverhoudingBeheer;User ID=ArbeidsverhoudingBeheerUser;Password=S3cretP@$$w0rd" />
      <add name="PensioenSysteem.UI.ArbeidsverhoudingBeheer.Properties.Settings.ArbeidsverhoudingBeheerConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=ArbeidsverhoudingBeheer;User ID=ArbeidsverhoudingBeheerUser;Password=S3cretP@$$w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>