<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Correspondentie" connectionString="Data Source=.\sqlexpress;Initial Catalog=Correspondentie;User ID=CorrespondentieUser;Password=S3cretP@$$w0rd" />
  </connectionStrings>
  <appSettings>
    <add key="EventStoreFolder" value="d:\PensioenSysteem\EventStore" />
    <add key="PdfOutputFolder" value="D:\PensioenSysteem\Correspondentie"/>
  </appSettings>
</configuration>