<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DeelnemerBeheer" connectionString="Data Source=.\sqlexpress;Initial Catalog=DeelnemerBeheer;User ID=DeelnemerBeheerUser;Password=S3cretP@$$w0rd" />
    <add name="PensioenSysteem.UI.DeelnemerBeheer.Properties.Settings.DeelnemerBeheerConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=DeelnemerBeheer;User ID=DeelnemerBeheerUser;Password=S3cretP@$$w0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>